@define-mixin absolute-screen {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

@define-mixin flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@define-mixin reset-button {
  background: none;
  border: none;
  cursor: pointer;
}

@define-mixin border {
  border: solid 1px var(--stroke);
}

@define-mixin reset-list {
  list-style: none;
  padding: 0;
}
