:root {
  --light-grey: #f6f6f8;
  --faded-grey: #eeeef3;
  --dark-grey: #45464a;
  --very-dark-grey: #323238;
  --grey: #8a8a8a;
  --stroke: #ebebeb;
  --text-grey: #4c4d51;
  --dark-fade: #5c5c62;

  --lg-radius: 12px;
  --sm-radius: 8px;

  --xs-speed: 200ms;
  --sm-speed: 300ms;
  --md-speed: 400ms;
  --lg-speed: 500ms;

  --xs-spacing: 10px;
  --sm-spacing: 16px;
  --lg-spacing: 40px;

  --xs-font: 10px;
  --sm-font: 12px;
  --base-font: 16px;
}
